html{
	background-color: #362d26 ;
	text-align: center;
}

body, h1, h2{
  font-family: "Helvetica";
}

body{
	background-color: white;
	margin: auto;
}

header{
	background-color: #15161b;
}

nav{
	text-align: center;
}

a{
	color: #fbfbfd;
}

section{
	display: inline-block;
}

nav ul{
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;

}

nav li{
	background-color: #5f8d1c;
	font-weight: bold;
}

.elementNav{
	float: left;
	padding: 5px 0 5px 0;
}

nav li:hover{
	background-color: darkgreen;
}

footer{
	background-color: #15161b;
	height: 50px;
	color: silver;
}

.footer{
	text-align: right;
}

#ph{
	color: #FFF;
	padding: 10px;
}

.ph {
	margin: auto;
	margin-bottom: 20px;
}

.chart{
	float: unset;
	display: inline-block;
}

.button{
  border: 1px solid black;
  cursor: pointer;
  height: 30px;
  width: 200px;
  background-color: #FF;
  font-size: 15px;
  text-align: center;
}

.buttonHolder{
  float:left;
  width:200px;
}

.right{
	float:right;
}

.left{
	float:left;
}

ul.liste {
  /*position: absolute;*/
  list-style: none;
  overflow: scroll;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 2px solid #ccc;
  background-color: #FFF;

  font-size: 16px;
  font-family: Arial, sans-serif;

}

li.listElement {
  padding: 10px 20px;

  border-bottom: 1px solid #ccc;

}

form.inventoryForm{
  background-color: #FFF;
  padding-bottom: 20px;
  margin: 0;
}

li ul{
  overflow: hidden;
  border: none;
}

li ul li{
  text-align: center;
  border-bottom: none;
  padding: 0;
  margin:0;
  width: 33%;
  display: inline-block;
}

table.inTable{
  border: 2px solid #000;
  border-collapse: collapse;
  max-height: 60%;
  margin-top: 10px;
  margin-right:5px;


}

th.inTableHead{
  border: 1px solid #000000;
  background-color: #AAA;
  margin-bottom: 0;
  padding: 20px;
}

td.inTableElement{
  border: 1px solid #000000;

}

button.inButton{

  margin-bottom: 0;
  margin-top: 10px;
}

main.inMain{

  padding-bottom: 20px;
}

.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}

@media only screen and (min-width: 900px) {

	header{
		border-top: 20px solid #5f8d1c;
	}

	.col-t-1 {width: 8.33%;}
	.col-t-2 {width: 16.66%;}
	.col-t-3 {width: 25%;}
	.col-t-4 {width: 33.33%;}
	.col-t-5 {width: 41.66%;}
	.col-t-6 {width: 50%;}
	.col-t-7 {width: 58.33%;}
	.col-t-8 {width: 66.66%;}
	.col-t-9 {width: 75%;}
	.col-t-10 {width: 83.33%;}
	.col-t-11 {width: 91.66%;}
	.col-t-12 {width: 100%;}
}

@media only screen and (min-width: 1300px) {

	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}
