

main{

  padding-bottom: 20px;
}

.button{
  border: 1px solid black;
  cursor: pointer;
  height: 30px;
  width: 200px;
  background-color: #D8C7C7;
  font-size: 15px;
  text-align: center;
}

.buttonHolder{
  float:left;
  width:200px;
}

form{
  background-color: #FFF;
  padding-bottom: 20px;
  margin: 0;
}

button{

  margin-bottom: 0;
  margin-top: 10px;
}

table{
  border: 2px solid #000;
  border-collapse: collapse;
  max-height: 60%;
  margin-top: 10px;
  margin-right:5px;


}

th{
  background-color: #AAA;
  margin-bottom: 0;
  padding: 20;
}

ul.liste {
  /*position: absolute;*/
  list-style: none;
  overflow: scroll;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 2px solid #ccc;
  background-color: #FFF;

  font-size: 16px;
  font-family: Arial, sans-serif;

}

li ul{
  overflow: hidden;
  border: none;
}

li ul li{
  text-align: center;
  border-bottom: none;
  padding: 0;
  margin:0;
  width: 33%;
  display: inline-block;
}

th,td{
  border: 1px solid #000000;

}

li.listElement {
  padding: 10px 20px;

  border-bottom: 1px solid #ccc;

}

.right{
	float:right;
}

.left{
	float:left;
}
